logs
target

# InteliJ
.idea
*.iml
*.ipr
.idea_modules
.classpath
.project
.settings
/RUNNING_PID

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.sbtserver


# OS X
.DS_Store 