logs
target
.idea
.idea_modules
.classpath
.project
.settings
RUNNING_PID

# Heroku
.env

# Ignore Play! working directory #
bin/
/db
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.sbtserver

# Eclipse
.eclipse

# OS X
.DS_STORE