@(currentPage: Voucher.Page, currentSortBy: String, currentOrder: String, currentFilter: String)
@**********************************
* Helper generating table headers *
***********************************@
@header(key: String, title: String) = {
    <th class="@key.replace("../../../public", "_") header @if(currentSortBy == key) @{
        if(currentOrder == "asc") "headerSortDown" else "headerSortUp"
    }">
        <a href="@link(0, key)">@title</a>
    </th>
}


    @****************************************
    * Helper generating navigation links *
    ****************************************@
@link(newPage: Int, newSortBy: String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.CustomerController.list(newPage, sortBy, order, currentFilter)
}

@main("Vouchers") {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>No vouchers defined</em>
        </div>

    } else {

        <table >
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>

            @for(voucher <- currentPage.getList) {
                <tr>
                    <td><a href="/voucher/@voucher.getVoucherId">@voucher.getVoucherId</a></td>
                    <td><a href="/voucher/@voucher.getVoucherId">@voucher.getName</a></td>
                    <td><a href="/voucher/@voucher.getVoucherId">@voucher.getDescription</a></td>
                </tr>
            }

            </tbody>
        </table>

    }
}