@import java.util
@(tests: util.List[Test], user: User)

@main("Welcome to Play") {
    <header>
        <hgroup>
            <h1>DashboardController</h1>
            <h2>All data from Test table</h2>
        </hgroup>
    </header>

    <body>
        <header>
            <a href="/" id="logo"><span>Loyalty </span>Backend</a>
            <dl id="user">
                <dt>@user.getFullName <span>(@user.getUsername)</span></dt>
                <dd>
                    <a href="@routes.LoginController.logout()">Logout</a>
                </dd>
            </dl>
        </header>
        @*<table>*@
        @*<tr>*@
        @*<th>id</th>*@
        @*<th>name</th>*@
        @*</tr>*@
        @*</table>*@

        @*<h1>Size of tests list is: @tests.size()</h1>*@
    </body>
}

